body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
    color: black;
    font-size: 45px;
}
.btn-primary{
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
nav > ul{
    display:flex ;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
}
.header{
    background-color: #fff8f3;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.banner{
    padding: 30px 20px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 650px;
}
.banner .profile-pic{
    width: 600px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    color: #474747;
    margin-bottom: 15px;
}
main{
    max-width: 1500px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
.about{
    padding: 130px;
    background: #fff8f3;
    margin: 130px;
    
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    margin-bottom: ;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
}
#what-i-do-description{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 50px;
}
.skill{
    padding: 40px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: #757575;
}
.resume-column-title{
    color: #474747;
    font-size: 35px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 60px;
    margin-top: 50px;
    justify-content: space-around;
}
.resume-item{
    max-width: 600px;
}
.resume-item-isntitute, .resume-item-description{
    color: #757575;
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
}

.resume-container hr{
    margin: 30px;
}
.Download{
    text-align: center;
    margin-top: 80px;
}
footer{
    display: flex;
    gap: 100px;
    background-color: #fff8f3;
    padding: 130px 230px;
    margin-top: 130px;
}
.footer{
    width: 50%;
}
.social-links a{
    margin-right: 25px;
}
.contact input, textarea{
    display: block;
    margin-bottom: 30px;
    padding: 20px 35px;
    color: #757575;
    border-radius: 5px;
    color: #fff;
    border: 0;
    width: 80%;
}
textarea{
    height: 100px;
}
@media screen and (max-width:576px) {
    .header{
        background-image: none;
        
    }
    nav,.banner{
        flex-direction: column;
        padding: 20px;
    }
    nav{
        margin: 0;
    }
    .banner .profile-pic{
        width: 100%;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    .about{
        padding: 20px;
        margin: 0;
    }
    .about-info-container{
        flex-direction: column;
    }
    .skill-container{
        flex-direction: column;
    }
    #what-i-do-description{
        padding: 20px;
    }
    .resume-container{
        flex-direction: column;
        padding: 20px;
    }
    .resume-container hr{
        margin: 0;
    }
    footer{
        flex-direction: column;
        padding: 20px;
        
    }
    .footer{
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    
    .banner .profile-pic{
        width: 50%;
    }
    .btn-primary{
        margin-bottom: 10px;
    }
    .about-info-container{
        flex-direction: column;
    }
    .skill-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        padding: 20px;
    }
}